@media only screen and (max-width: 600px) {
  .main_div {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .conteiner {
    padding: 20px;
    background-color: #ebf4f1;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 40px;
  }
  .cesko_img {
    width: 200px;
  }
  .text_1 {
    text-align: center;
    font-size: 24px;
    color: #56bb7a;
  }
  .text_2 {
    text-align: center;
    font-size: 16px;
    color: #c00504;
  }
  .text_3 {
    text-align: center;
    font-size: 18px;
    color: black;
    font-family: "Montserrat", "Poppins", sans-serif;
    font-weight: 700;
    margin: 24px;
  }
  .input_box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .input_box_input {
    text-align: center;
    font-size: 18px;
    background-color: white;
    border: 1px solid #e1e1e1;
    color: #e1e1e1;
    width: 294px;
    height: 60px;
    border-radius: 14px;
  }
  .search_button {
    width: 184px;
    height: 58px;
    background-color: #8bd0a5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 20px;
  }
  .person_div {
    background-color: #ebf4f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border: 2px solid #009262;
    border-radius: 20px;
  }
  .person_div_photo {
    width: 126px;
  }
  .info_text {
    font-weight: 600;
  }
  .info_text_green {
    color: #008e66;
    margin: 12px;
  }
  .green_text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4aba78;
    color: white;
    font-weight: 600;
    height: 50px;
    width: 70px;
    border-radius: 12px;
  }
  .line {
    width: 99%;
    border: 1px solid #d6d5d5;
    margin-bottom: 12px;
  }
  .bottom_conteiner {
    background-color: #4aba78;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    height: 132px;
    color: white;
    border-radius: 20px;

    font-size: 19px;
  }
}

